$light: #fff6eb;
$primary: #77519d;
$secondary: #fbd93d;
$info: #1f9e4f;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 1px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.ff-title {
    font-family: 'Playwrite US Modern', cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.navbar-toggler {
    &[aria-expanded='true'] .navbar-toggler-icon {
        background-image: #{escape-svg($btn-close-bg)};
        background-size: 1rem;
    }

    &:focus {
        box-shadow: none;
        outline: 2px solid rgba(var(--bs-primary-rgb), 0.7) !important;
    }
}

.recipe-link {
    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgba(var(--bs-secondary-rgb), 0.1);
    }
}
